# **Tarea Nº 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: __Leydi Chipana__
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

1. ¿Cuál es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategoría (`item_category_2`)?

In [50]:
# Solución

import pandas as pd
df1 = pd.read_csv('neoauto_20240924.csv')
# Agrupamos las columnas 'item_brand' y 'item_category_2' en la nueva data average_price
# Calculamos la medfia de item_price con .mean()
average_price = df1.groupby( ['item_category_2', 'item_brand'])[['item_price']].mean()
average_price
# El precio promedio por marca y subcategoría se muestra en item_price

                                  item_price
item_category_2 item_brand
Camionetas Suv  ASTON MARTIN   229000.000000
                AUDI            34602.424242
                BAIC            10800.000000
                BAIC YINXIANG    8500.000000
                BMW             38377.802469
...                                      ...
Vans            RAM              8883.333333
                RENAULT          4900.000000
                SUZUKI          11058.333333
                TOYOTA          16080.000000
                VOLKSWAGEN      14350.000000

[202 rows x 1 columns]

2. ¿Cuántos autos tienen más de 100,000 kilómetros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [51]:
# Solución
mean_price = df1['item_price'].mean()
# Usamos el operador & para unir 2 filtrados
df_km_price = df1[(df1['item_km'] > 100000) & (df1['item_price'] < mean_price)]
# Shape nos da el número de filas o elementos de nuestra data filtrada
print("\nNúmero de autos con más de 100,000 km y precio menor al promedio general:", df_km_price.shape[0])

22032.990101460036

Número de autos con más de 100,000 km y precio menor al promedio general: 497

3. Encuentra el modelo (`item_name`) más caro y el más barato de cada marca (`item_brand`).

In [11]:
# Solución
# Usaremos los métodos idxmax y idxmin para encontrar el indice de filas que requerimos
max_price = df1.loc[df1.groupby('item_brand')['item_price'].idxmax()][['item_brand', 'item_name', 'item_price']]
min_price = df1.loc[df1.groupby('item_brand')['item_price'].idxmin()][['item_brand', 'item_name', 'item_price']]
min_price.head()
max_price.head()

        item_brand                item_name  item_price
1362    ALFA-ROMEO      alfa-romeo 147 2006      8500.0
1313  ASTON MARTIN    aston martin dbx 2021    229000.0
1208          AUDI           audi rs 6 2024    220000.0
3708        AUSTIN  austin mini cooper 1970         1.0
2317          BAIC            baic x55 2021     12800.0

4. Encuentra las tres marcas con mayor número de autos financiados por Santander (`item_financed_by`).

In [12]:
# Solución
santander_financed = df1[df1['item_financed_by'] == 'Santander']
# Usamos value_counts() para las marcas por autos Santader
# Luego usamos head(3) para quedarnos con los 3 más altos
# Terminamos con reset_index() para convertir en un dataframe
financed_brands = santander_financed['item_brand'].value_counts().head(3).reset_index()
financed_brands.columns = ['item_brand', 'count'] #filtramos las dos columnas 
financed_brands
# Las 3 marcas con mayor financiamientpo por Santander son BMW, TOYOTA y NISSAN

  item_brand  count
0        BMW    296
1     TOYOTA    261
2     NISSAN    228

5. Agrupa las publicaciones por tipo de transmisión (`item_transmission`) y calcula la desviación estándar del precio (`item_price`) para cada tipo.

In [89]:
# Solución
transmission_std = df1.groupby('item_transmission')['item_price'].std().reset_index()
transmission_std

         item_transmission    item_price
0               Automática  15332.729048
1  Automática - Secuencial  22678.641589
2                 Mecánica   8137.122127

6. ¿Cuál es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [55]:
# Solución
# Usamos str.contains para filtar el texto
# También nos aseguramos que los valores faltantes no generen conflictos
tag_premium = df1[df1['item_tag'].str.contains('Premium', na=False)]['item_km'].mean()
tag_como_nuevo = df1[df1['item_tag'].str.contains('Como nuevo', na=False)]['item_km'].mean()
print(f'Kilometraje promedio de publicaciones con el tag "Premium": {tag_premium:.2f}',
      f'\nKilometraje promedio de publicaciones con el tag "Como nuevo": {tag_como_nuevo:.2f}')

Kilometraje promedio de publicaciones con el tag "Premium": 48400.24
Kilometraje promedio de publicaciones con el tag "Como nuevo": 35963.48

7. ¿Cuáles son las marcas de vehículas para los que todos sus modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una?

In [5]:
# Solución

# Ordenamos los años con sorted y obtenemos solo valores únicos con unique()
# Seleccionamos los 5 últimos años -> [-5:]
last_5_years = sorted(df1['item_year'].unique())[-5:]
# Los últimos 5 años fueron 2021 - 2025

# Filtamos las publicaciones dentro del rango de años con .isin
df_last_5y = df1[df1['item_year'].isin(last_5_years)]

# Contamos con size() las filas agrupadas por marca y modelo y convertimos en dataframe
count = df_last_5y.groupby(['item_brand', 'item_name']).size().reset_index(name='count')

# Filtramos las publicaciones con al menos 5 
df_last_5y_filt= count[count['count'] >= 5]

# Extraemos con unique cuantas marcar cumplen con la condicion
list_models = df_last_5y_filt['item_brand'].unique()
list_models

array(['AUDI', 'BMW', 'CHEVROLET', 'DFSK', 'FIAT', 'FORD', 'HAVAL',
       'HONDA', 'HYUNDAI', 'JEEP', 'KIA', 'MAZDA', 'MG', 'NISSAN',
       'PEUGEOT', 'SUBARU', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO'], dtype=object)

## **Evolución económica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables está disponible en la hoja "Legend" del archivo Excel.

1. Calcule el PBI per cápita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la población. ¿Cuáles son los 10 países top?

In [58]:
# Solución
import pandas as pd
import numpy as np

# Importar los datos
data = pd.read_excel('pwt1001.xlsx', sheet_name='Data')
legend = pd.read_excel('pwt1001.xlsx', sheet_name='Legend')
# Usamos 'rdgpe' = Expenditure-side real GDP at chained PPPs (in mil. 2017US$)
data["PBI_per_capita"] = data["rgdpe"] / data["pop"]
top_10_countries = data.groupby('country')['PBI_per_capita'].max().sort_values(ascending=False).head(10)
# Agrupamkos por pais y con el método max encontramos los valores más altos de 'rdgpe'
# Ordenamos de manera descendente con .sort_values()
top_10_countries

country
United Arab Emirates    283541.174514
Brunei Darussalam       177110.647137
Qatar                   166520.481283
China, Macao SAR        139886.741131
Luxembourg              112941.453342
Ireland                 102353.631443
Kuwait                   92274.389648
Singapore                89339.024418
Cayman Islands           89133.468875
Bermuda                  79967.588736
Name: PBI_per_capita, dtype: float64

2. Genera el ránking de los países con el mayor incremento del PBI per cápita real PPP entre los años 1990 y 2019. ¿Dónde se ubica Perú? Para los países que no tengan información para dichos años, puede utilizar datos provenientes de hasta dos años antes o después

In [59]:
# Solución
#Usamos el operador lógico para combinar las condiciones de filtrado de 'year'
data_filt = data[(data['year'] >= 1988) & (data['year'] <= 2019)] # No hay datos después de 2019
data_1990 = data_filt[(data_filt['year'] >= 1988) & (data_filt[ # Filtramos los años de 1988 a 1992
    'year'] <= 1992)].groupby('country')['PBI_per_capita'].mean() # Sacamos la media de 'rgdpe'
data_2019 = data_filt[(data_filt['year'] >= 2017) & (data_filt[ # Filtramos los años de 2017 a 2019
    'year'] <= 2019)].groupby('country')['PBI_per_capita'].mean() # Sacamos la media de 'rgdpe'
# Calculamos el crecimiento/decrecimiento de PBI eliminando valores nulos con dropna()
gdp_change = ((data_2019 - data_1990) / data_1990).dropna().sort_values(ascending=False)

# TOP 10 MAYORES INCREMENTOS DE PBI PER CÁPITA REAL PPP
print("TOP 10 MAYORES INCREMENTOS DE PBI PER CÁPITA REAL PPP", gdp_change.head(10))

# Filtramos con query las columna de 'country' = 'Peru'
peru_rank = gdp_change.reset_index().query("country == 'Peru'").index[0] + 1 #El indice empezará en 1
print(f"Perú se encuentra en el puesto {peru_rank} del ranking de crecimiento del PBI per cápita (1990-2019).")

TOP 10 MAYORES INCREMENTOS DE PBI PER CÁPITA REAL PPP country
Equatorial Guinea         10.071907
Bosnia and Herzegovina     8.297538
El Salvador                5.742178
Myanmar                    5.217009
Nigeria                    5.062333
Lao People's DR            4.768618
China                      4.374250
Viet Nam                   4.271733
Ireland                    3.882223
Egypt                      3.674072
Name: PBI_per_capita, dtype: float64
Perú se encuentra en el puesto 34 del ranking de crecimiento del PBI per cápita (1990-2019).

3. Para el periodo 2010-2019, calcule el promedio del índice del capital humano. ¿Qué relación existe entre esta variable y el PBI per cápita real PPP calculado previamente? ¿y el número de horas laboradas al año por los trabajadores?

In [14]:
# Solución

# Filtramos el periodo de años 2010 - 2019
data_2010_2019 = data[(data['year'] >= 2010) & (data['year'] <= 2019)]

# Calculamos los promedios
hc_avg = data_2010_2019.groupby('country')['hc'].mean() # Indice de capital humano  
pib_avg = data_2010_2019.groupby('country')['rgdpe'].mean() # PBI per cápita real PPP
avh_avg = data_2010_2019.groupby('country')['avh'].mean() # Horas laboradas al año por trabajadores

correlation_hc_pib = hc_avg.corr(pib_avg) # Vemos que tiene una relación positiva
correlation_hc_avh = hc_avg.corr(avh_avg) # Vemos que tiene una relación negativa

print(f"La correlación entre el índice de capital humano y el PBI per cápita es {correlation_hc_pib:.2f}.")
print(f"La correlación entre el índice de capital humano y las horas trabajadas es {correlation_hc_avh:.2f}.")

La correlación entre el índice de capital humano y el PBI per cápita es 0.19.
La correlación entre el índice de capital humano y las horas trabajadas es -0.58.

4. A partir de la variable del precio de los hogares, calcula los países y los años en los cuales se registró la mayor inflación anual para todo el periodo de tiempo disponible en la base de datos

In [60]:
# Solución

data = data.sort_values(['country', 'year'])
# Calculamos la inflación porcentual anual con pct_change
# pct_change => tasa de cambio = (valor final - valor inicial) / valor inicial 
# pl_c = nivel de precios del consumo de los hogares
data['inflation'] = data.groupby('country')['pl_c'].pct_change() * 100

# Filtarmos la data con .idmax() el valor máximo de inflación por país
max_inflation_df = data.loc[data.groupby('country')['inflation'].idxmax()]
# Nos quedamos con las columnas necesarias
max_inflation = max_inflation_df[['country', 'year', 'inflation']].sort_values(by='inflation', ascending=False).head(10)
print("PAÍSES CON MAYOR INFLACIÓN ANUAL:")
max_inflation.head(10)

PAÍSES CON MAYOR INFLACIÓN ANUAL:

C:\Users\user\AppData\Local\Temp\ipykernel_8676\1588948605.py:7: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  data['inflation'] = data.groupby('country')['pl_c'].pct_change() * 100

                                  country  year   inflation
12387  Venezuela (Bolivarian Republic of)  2017  355.748049
12795                            Zimbabwe  2005  281.705724
4742                    Equatorial Guinea  2002  278.866183
1850                    Brunei Darussalam  1980  265.190719
8201                           Mauritania  1961  235.565319
11034                          Seychelles  1994  226.327482
10034                        Saudi Arabia  1974  147.961250
119                                Angola  1999  144.032916
304                  United Arab Emirates  1974  140.988488
6758                              Lebanon  1988  121.297922

5. ¿Cuáles son los países con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [30]:
# Solución

# Vemos que filas son nulas con .isnull = truq
# Agrupamos por país para sumar los missings values con .groupby()
# Por último ordenamos de manera descendente con .sort_values()
tfp_missing = data['ctfp'].isnull().groupby(data['country']).sum().sort_values(ascending=False)
tfp_missing.head(10)

country
Albania                           70
Turkmenistan                      70
Sint Maarten (Dutch part)         70
Grenada                           70
Ghana                             70
Georgia                           70
Gambia                            70
St. Vincent and the Grenadines    70
Pakistan                          70
Ethiopia                          70
Name: ctfp, dtype: int64

6.  Agrupa los datos por país y calcula el promedio de las horas trabajadas anuales (avh) y de la educación promedio (hc) para el periodo 2000-2020.

In [ ]:
# Solución
# Filtramos la data entre los años 2000 - 2020 
# Eliminamos los missings values con .dropna()
data_2000_2020 = data[(data['year'] >= 2000) & (data['year'] <= 2020)].dropna()
# Calculamos el promedio de avh y hc  agrupado por país
avh_hc_avg = data_2000_2020.groupby('country')[['avh', 'hc']].mean()
avh_hc_avg.head(10)

                            avh        hc
country
Argentina           1710.245679  2.912099
Brazil              1744.427826  2.689499
Bulgaria            1645.864795  3.111198
Chile               2018.625000  3.030720
China               2177.381241  2.546620
Colombia            2004.691400  2.459824
Costa Rica          2197.022062  2.603270
Croatia             1884.746259  3.350156
Dominican Republic  2138.178469  2.591269
Ecuador             1655.268485  2.713396

7.  Genere una variable que ordene a los países según el porcetaje de formación brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. ¿En qué decil se ubica Péru? Vuelva a calcular usando la información de 1990. ¿El Perú se mantiene en el mismo décil o cambia?

In [133]:
# Solución

# Dividimos la data en dos periodos solamente generando una copia en cada uno
data_2019 = data[data['year'] == 2019].copy()
data_1990 = data[data['year'] == 1990].copy()

# Usaremos csh_i = Share of gross capital formation at current PPPs
# Dividimos en deciles con qcut(x, 10) para clasificar los países en deciles
data_2019['capital_formation_rank'] = pd.qcut(data_2019['csh_i'], 10, labels=False) + 1 # El índice empieza en 1
data_1990['capital_formation_rank'] = pd.qcut(data_1990['csh_i'], 10, labels=False) + 1 # El índice empieza en 1

# Filtramos el decil de Perú con .query()
peru_decile_2019 = data_2019.query("country == 'Peru'")['capital_formation_rank'].values[0]
peru_decile_1990 = data_1990.query("country == 'Peru'")['capital_formation_rank'].values[0]

print(f"\nDecil de Perú en 2019: {peru_decile_2019}, en 1990: {peru_decile_1990}")
# Vemos que ha subido Perú 1 decil

Decil de Perú en 2019: 5, en 1990: 4.0

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Además, determina cuántos clientes únicos realizaron esas transacciones.

In [35]:
# Solución
data3 = pd.read_csv('base_financiera.csv')

# Filtramos con transacciones = débito y monto > 200
filt_debit = data3[(data3['Transaction_Type'] == 'Debit') & (data3['Amount'] > 200)]
# Calculamos el monto total de las transacciones usando .sum() a toda la columna 'Amount'
total_amount_debit = filt_debit['Amount'].sum()
# cON nunique() contamos los valores unicos de 'Customer_ID'
customers_debit = filt_debit['Customer_ID'].nunique()
print("Monto total de transacciones tipo débito y mayores a 200:", total_amount_debit)
print("Total de clientes únicos que realizaron estas transacciones:", customers_debit)

Monto total de transacciones tipo débito y mayores a 200: 2847871.75
Total de clientes únicos que realizaron estas transacciones: 200

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacción (`Transaction_Type`) y luego calcula el monto total de transacciones por región (`region`) .

In [41]:
# Solución

# Calculamos la mediana de los montos por tipo de transacción y almacenamos en median_tr
median_tr = data3.groupby('Transaction_Type')['Amount'].transform('median')
# Llenamos con .fillna() las medianas calculadas antes
data3['Amount'] = data3['Amount'].fillna(median_tr)
# Suma de total del monto de transacciones por region después de haber llenado los missings
total_region_amount = data3.groupby('Region')['Amount'].sum()
print("\nMonto total de transacciones por región:\n")
total_region_amount

Monto total de transacciones por región:

Region
East     1269409.53
North    1321224.96
South    1208300.23
West     1233552.50
Name: Amount, dtype: float64

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [47]:
# Solución

# Identificamos las transacciones duplicadas (mismo Customer_ID y Date)
# Marcamos como True = fila duplicada excepto la primera ocurrencia
duplicates = data3.duplicated(subset=['Customer_ID', 'Date'], keep='first')

# Seleccionamos las filas donde duplicates = False
data3_clean = data3[~duplicates]

# Agrupamos por cliente y calculamos las estadísticas
customer_stats = data3_clean.groupby('Customer_ID').agg(
    average_amount=('Amount', 'mean'), # Promedio de transacciones por cliente
    transaction_count=('Amount', 'count') # Número de transacciones por cliente
).reset_index() # El indice del resultado 
print("\nEstadísticas por cliente tras limpiar duplicados:\n")
customer_stats

Estadísticas por cliente tras limpiar duplicados:

    Customer_ID  average_amount  transaction_count
0          C001     3283.319412                 17
1          C002     1881.827778                  9
2          C003     3102.125000                 14
3          C004     2879.267143                  7
4          C005     3364.053333                  6
..          ...             ...                ...
195        C196     2566.555000                 10
196        C197     2530.674286                 14
197        C198     2484.925000                 12
198        C199     2942.038000                  5
199        C200     2196.990000                  5

[200 rows x 3 columns]