# **Tarea Nº 4**

- Fecha y hora de entrega: Domingo 12 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____  ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

## **Mercado de autos usados**

Importa el conjunto de datos `neoauto_20240924.csv`

1. ¿Cuál es el precio promedio de los autos de cada marca (`item_brand`) publicados en cada subcategoría (`item_category_2`)?

In [1]:
# Solución

import pandas as pd
df1 = pd.read_csv('neoauto_20240924.csv')
# Agrupamos las columnas 'item_brand' y 'item_category_2' en la nueva data average_price
# Calculamos la medfia de item_price con .mean()
average_price = df1.groupby( ['item_category_2', 'item_brand'])[['item_price']].mean()
average_price
# El precio promedio por marca y subcategoría se muestra en item_price

                                  item_price
item_category_2 item_brand
Camionetas Suv  ASTON MARTIN   229000.000000
                AUDI            34602.424242
                BAIC            10800.000000
                BAIC YINXIANG    8500.000000
                BMW             38377.802469
...                                      ...
Vans            RAM              8883.333333
                RENAULT          4900.000000
                SUZUKI          11058.333333
                TOYOTA          16080.000000
                VOLKSWAGEN      14350.000000

[202 rows x 1 columns]

2. ¿Cuántos autos tienen más de 100,000 kilómetros (`item_km`) pero un precio (`item_price`) menor al promedio general?

In [ ]:
# Solución

3. Encuentra el modelo (`item_name`) más caro y el más barato de cada marca (`item_brand`).

In [ ]:
# Solución

4. Encuentra las tres marcas con mayor número de autos financiados por Santander (`item_financed_by`).

In [2]:
# Solución

santander_financed = df1[df1['item_financed_by'] == 'Santander']
# Usamos value_counts() para las marcas por autos Santader
# Luego usamos head(3) para quedarnos con los 3 más altos
# Terminamos con reset_index() para convertir en un dataframe
financed_brands = santander_financed['item_brand'].value_counts().head(3).reset_index()
financed_brands.columns = ['item_brand', 'count'] #filtramos las dos columnas 
financed_brands
# Las 3 marcas con mayor financiamientpo por Santander son BMW, TOYOTA y NISSAN

  item_brand  count
0        BMW    296
1     TOYOTA    261
2     NISSAN    228

5. Agrupa las publicaciones por tipo de transmisión (`item_transmission`) y calcula la desviación estándar del precio (`item_price`) para cada tipo.

In [ ]:
# Solución

6. ¿Cuál es el kilometraje promedio de las publicaciones con el tag "Premium" y de las publicaciones con el tag "Como nuevo"?

In [3]:
# Solución

# Usamos str.contains para filtar el texto
# También nos aseguramos que los valores faltantes no generen conflictos
tag_premium = df1[df1['item_tag'].str.contains('Premium', na=False)]['item_km'].mean()
tag_como_nuevo = df1[df1['item_tag'].str.contains('Como nuevo', na=False)]['item_km'].mean()
print(f'Kilometraje promedio de publicaciones con el tag "Premium": {tag_premium:.2f}',
      f'\nKilometraje promedio de publicaciones con el tag "Como nuevo": {tag_como_nuevo:.2f}')

Kilometraje promedio de publicaciones con el tag "Premium": 48400.24
Kilometraje promedio de publicaciones con el tag "Como nuevo": 35963.48

7. ¿Cuáles son las marcas de vehículas para los que todos sus modelos fabricados en los últimos 5 años tienen al menos 5 publicaciones cada una?

In [4]:
# Solución

# Ordenamos los años con sorted y obtenemos solo valores únicos con unique()
# Seleccionamos los 5 últimos años -> [-5:]
last_5_years = sorted(df1['item_year'].unique())[-5:]
# Los últimos 5 años fueron 2021 - 2025

# Filtamos las publicaciones dentro del rango de años con .isin
df_last_5y = df1[df1['item_year'].isin(last_5_years)]

# Contamos con size() las filas agrupadas por marca y modelo y convertimos en dataframe
count = df_last_5y.groupby(['item_brand', 'item_name']).size().reset_index(name='count')

# Filtramos las publicaciones con al menos 5 
df_last_5y_filt= count[count['count'] >= 5]

# Extraemos con unique cuantas marcar cumplen con la condicion
list_models = df_last_5y_filt['item_brand'].unique()
list_models

array(['AUDI', 'BMW', 'CHEVROLET', 'DFSK', 'FIAT', 'FORD', 'HAVAL',
       'HONDA', 'HYUNDAI', 'JEEP', 'KIA', 'MAZDA', 'MG', 'NISSAN',
       'PEUGEOT', 'SUBARU', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO'], dtype=object)

## **Evolución económica internacional**

Importa el conjunto de datos de la hoja "Data" del archivo `pwt1001.xlsx`. El diccionario de variables está disponible en la hoja "Legend" del archivo Excel.

1. Calcule el PBI per cápita real ajustado por poder de paridad de compra (PPP). Use la variable de PBI que se calcula por gasto y la población. ¿Cuáles son los 10 países top?

In [ ]:
# Solución

2. Genera el ránking de los países con el mayor incremento del PBI per cápita real PPP entre los años 1990 y 2019. ¿Dónde se ubica Perú? Para los países que no tengan información para dichos años, puede utilizar datos provenientes de hasta dos años antes o después

In [ ]:
# Solución

3. Para el periodo 2010-2019, calcule el promedio del índice del capital humano. ¿Qué relación existe entre esta variable y el PBI per cápita real PPP calculado previamente? ¿y el número de horas laboradas al año por los trabajadores?

In [ ]:
# Solución

4. A partir de la variable del precio de los hogares, calcula los países y los años en los cuales se registró la mayor inflación anual para todo el periodo de tiempo disponible en la base de datos

In [ ]:
# Solución

5. ¿Cuáles son los países con la mayor cantidad de missing values en la variable de productividad total de factores a precios corrientes?

In [ ]:
# Solución

6.  Agrupa los datos por país y calcula el promedio de las horas trabajadas anuales (avh) y de la educación promedio (hc) para el periodo 2000-2020.

In [ ]:
# Solución

7.  Genere una variable que ordene a los países según el porcetaje de formación brutal de capital del 2019. Luego, estable diez grupos a manera de deciles. ¿En qué decil se ubica Péru? Vuelva a calcular usando la información de 1990. ¿El Perú se mantiene en el mismo décil o cambia?

In [ ]:
# Solución

## **Transacciones Financieras**

Importa el conjunto de datos `base_financiera.csv`

8. Filtra todas las transacciones de tipo "Debit" en las que el monto sea mayor a 200, y calcula el monto total de esas transacciones. Además, determina cuántos clientes únicos realizaron esas transacciones.

In [ ]:
# Solución

9. Identifica las transacciones con valores nulos en la columna (`Amount`) . Rellena esos valores con la mediana de los montos por tipo de transacción (`Transaction_Type`) y luego calcula el monto total de transacciones por región (`region`) .

In [ ]:
# Solución

10. Busca transacciones duplicadas considerando las columnas (`Customer_ID`) y (`Date`). Elimina los duplicados manteniendo solo la primera ocurrencia. Luego, agrupa las transacciones restantes por (`Customer_ID`) y calcula el monto promedio y la cantidad de transacciones por cliente.

In [ ]:
# Solución